# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Data and Artifacts (large directories)
data/
experiments/

# OS files
.DS_Store
Thumbs.db
